<form
  clrForm
  [formGroup]="taskForm"
  clrLayout="horizontal"
  style="margin-left: 1rem"
>
  <clr-select-container>
    <label>Node</label>
    <select clrSelect name="taskNode" formControlName="taskNode">
        <option *ngFor="let name of virtualMachineNames" [value]="name">
          {{ name }}
        </option>
    </select>
  </clr-select-container>
  <clr-input-container>
    <label>Name</label>
    <input clrInput type="text" formControlName="taskName" required />
    <clr-control-error *clrIfError="'required'"
      >Task name is required</clr-control-error
    >
  </clr-input-container>

  <clr-input-container>
    <label>Description</label>
    <input clrInput type="text" formControlName="taskDescription" required />
    <clr-control-error *clrIfError="'required'"
      >Task Description is required</clr-control-error
    >
  </clr-input-container>

  <clr-control-container id="codeInput">
    <label>Command</label>
    <app-code-with-syntax-highlighting
      [language]="supportedLanguages.BASH"
      [height]="'2rem'"
      [width]="'90%'"
      [outline]="'none'"
      [textValue]="editTask.command"
      (textChanged)="commandOutput($event)"
    ></app-code-with-syntax-highlighting>
  </clr-control-container>

  <clr-textarea-container>
    <label>Expected Output</label>
    <textarea
      clrTextarea
      type="text"
      formControlName="taskexpectedOutput"
      required
    ></textarea>
    <clr-control-error *clrIfError="'required'"
      >Expected Output is required</clr-control-error
    >
  </clr-textarea-container>

  <clr-input-container>
    <label>Expected Returncode</label>
    <input
      clrInput
      type="number"
      formControlName="taskExpectedReurncode"
      required
    />
    <clr-control-error *clrIfError="'required'"
      >Expected Returncode is required</clr-control-error
    >
  </clr-input-container>

  <clr-select-container>
    <label>Return Type</label>
    <select
      clrSelect
      name="taskReturnType"
      formControlName="taskReturnType"
      required
    >
      <option *ngFor="let returnType of returnTypes" value="{{ returnType }}">
        {{ returnType }}
      </option>
    </select>
    <clr-control-helper>More info about the return Types</clr-control-helper>
    <clr-control-error *clrIfError="'required'"
      >Return Type is required</clr-control-error
    >
  </clr-select-container>
</form>
